---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Our variables
$font-family: 'Lato', Arial, sans-serif;
$heading-font-family:  'Oswald', Arial, sans-serif;

$color_Y: #FFDD80;
$color_G: #89FF80;
$color_C: #80EFFF;
$color_P: #AA80FF;
$color_M: #FF80BC;

$color_K: #333333;
$color_W: #FFFFFF;

$header-color: $color_W;
$header-background: $color_K;

$body-color: $color_K;
$body-background: $color_W;

$footer-color: $color_W;
$footer-background: $color_K;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "_normalize",
  "_skeleton"
;

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  text-align: center;
}

header > h1 {
  color: $color_P;
}

h1 {
  color: $color_C;
  text-transform: uppercase;
  text-decoration: underline;
}

h2 {
  color: $color_M;
}

h3 {
  color: $color_Y;
}

h4 {
  color: $color_G;
}

h5 {
  color: $color_K;
}

h6 {
  color: $color_K;
}

a {
  color: darken($color_C, 33.333%);
}

@media ($bp-larger-than-tablet) {
  h1, h2, h3, h4, h5, h6 {
    text-align: left;
  }
}

// Stylish things

hr {
  text-align: center;
  border-top: 0;
  border-bottom: 2px dotted $color_C;
}

hr:after {
  display: inline;
  position: relative;
  top: -15px;
  content: '\0025A7';
  background-color: $body-background;
  padding: 0 10px;
  font-size: 18px;
  color: $color_Y;
}

// Nav
nav {
  margin: 0;
  padding: 0;
  max-width:100%;
  overflow: hidden;
  color: $header-color;
  line-height: 0;
  display: flex;
  background-color: $color_K;
  align-items: center;
  justify-content: space-between;
}

nav img {
  height: 2.5rem;
  background-color: $color_W;
  padding: 10px;
  display: inline;
}

nav span {
  margin: 0;
  padding: 0;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.3rem;
}

@media ($bp-larger-than-tablet) {
  nav a {
    font-size: 2.5rem;
  }
}

nav a:link, nav a:visited, nav a:hover, nav a:active {
  color: $header-color;
  text-decoration: none;
}

nav > span, nav > span > a {
  white-space: nowrap;
}

nav > span > a:before {
  content: '\0025ab';
  color: $color_M;
  padding: 0 10px;
}

nav > span > a:first-child:before {
  content: "";
}

nav:after {
  content: "";
  width: 2em;
}

// Header
header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header > * {
  margin: 0;
}

header > p {
  margin-top: 1ex;
  color: $color_K;
  font-style: italic;
}

header * {
  max-width: 100%;
}

// Main page
main {
  background-color: $body-background;
  color: $body-color;
  padding: 5rem 0;
  text-align: center;
}

main p {
  text-align: justify;
}

.subtext {
  font-style: italic;
}

.featured {
  padding: 0;
  margin: 0;
  margin-top: 4ex;
}

.featured:not(:last-of-type) {
  border-bottom: 5px dotted $color_Y;
}

.featured > .featured-picture {
  width: 15em;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.featured > .featured-picture > img {
  width: 100%;
}

@media ($bp-larger-than-tablet) {
  main {
    text-align: left;
  }

  .featured {
    display: inline-block;
  }

  .featured > .featured-picture {
    float: left;
    margin: 1em;
    display: block;
  }

  .featured > p {
    margin-left: 17em;
  }

  .featured > p[class~=featured-picture] {
    margin: 1em;
  }
}


// Footer
.org-img {
  width: 5em;
}

footer, body {
  background-color: $footer-background;
  color: $footer-color;
}

footer {
  padding: 2rem 1rem 0 1rem;
}

footer > ul a {
  text-decoration: none;
}

.side-by-side ul, footer ul {
  list-style: none;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer * {
  line-height: 150%;
}

footer a:link, footer a:visited {
  color: $color_Y;
}

footer > * {
  margin: 10px;
}

footer ul {
  min-width: 26rem;
  max-width: 26rem;
  width: 26rem;
}

footer p {
  max-width: 80rem;
  text-align: justify;
}

footer li {
  margin: 0;
}

footer svg {
  fill: $color_M;
  width: 24px;
  height: 24px;
  margin: 0 0.5em;
}

@media ($bp-larger-than-tablet) {
  .side-by-side {
    display: flex;
    flex-wrap: nowrap;
  }

  .side-by-side-heading {
    min-width: 20rem;
    max-width: 20rem;
    width: 20rem;
  }

  footer {
    flex-direction: row;
  }
}
