<nav>
  <a class="site-title" href="{{ site.baseurl }}/">
    <img src="https://static.hackartscience.com/hackartscience/icon/hackartscience.svg" alt="{{ site.title }}">
  </a>

  <span>
    <a class="page-link" href="/articles/">Articles</a>
    <a class="page-link" href="/projects/">Projects</a>
    <a class="page-link" href="/about/">About Us</a>
  </span>
</nav>
