<section class="featured">
  <p class="featured-picture">
    <img src="{{ person.avatar }}" alt="{{ person.name }}">
  </p>
  
  <h2>
    {{ person.name }}
  </h2>

  <p>
    <a href="{{ person.link }}">{{ person.link | person:'http://' | remove:'https://' }}</a>
  </p>

  {{ person.content }}
</section>
