<section class="featured">
  <p class="featured-picture">
    <img src="{{ project.logo }}" alt="{{ project.title }}">
  </p>

  <h2>
    {{ project.title }}
  </h2>

  {% if project.link %}
  <p>
    <a href="{{ project.link }}">{{ project.link | remove:'http://' | remove:'https://' }}</a>
  </p>
  {% endif %}

  {% if project.subtext %}
  <p class="subtest">{{ project.subtext }}</p>
  {% endif %}


  {{ project.content }}
</section>
