<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main>
      <div class="container">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

    {% include analytics/google_analytics.html %}
  </body>
</html>
