---
layout: default
---
<header>
  <h1>{{ page.title }}</h1>
  <p>
    {{ page.date | date: "%b %-d, %Y" }}
    {% if page.author %}
      - {{ page.author }}
    {% endif %}
    {% if page.meta %}
      - {{ page.meta }}
    {% endif %}</p>
  </header>

  <article>
    {{ content }}
  </article>
</div>
